/*@import url('https://fonts.googleapis.com/css?family=Barrio');*/
/***********************
Universal styles
************************/

body {
	padding-bottom: 80px;
	font-size: 16px;
}
.bg-faded {
	background-color: rgb(119,168,191);
}

.sticky-top .navbar-brand {
	font-size: 1.5rem;
	letter-spacing: .15rem;
}

.fixed-bottom a {
	font-size: .8rem;
}

ul {
	list-style: none;
}

.padding {
	padding-top: 30px;
}

/*********************
Tables
**********************/
table {
	margin-top: 30px;
}

table img {
	height: 50px;
}

table a {
	color: black;
}

table a:hover {
	text-decoration: none;
	color: grey;
}

/**********************
Fonts
**********************/
/*font family*/
p {
	/*font-family: 'Barrio';*/
	/*line-height*/
	line-height: 1.5;
}

/*font-size*/
span {
	font-size: 1.5em;
	/*font-weight 100-800*/
	font-weight: 800;
	/*text-decoration*/
	text-decoration: underline;
}

/*text-align*/
h5 {
	text-align: /* center, right */
}

/**********************
Box Model
**********************/
#top-left {
	padding: 50px;
	border-right: 1px solid black;
}

#top-middle {
	padding: 50px;
	border-right: 1px solid black;
}

#top-right {
	padding: 50px;
}

#middle-left {
	padding: 50px;
	border-top: 1px solid black;
	border-right: 1px solid black;
}

#middle-middle {
	padding: 50px;
	border-top: 1px solid black;
	border-right: 1px solid black;
}

#middle-right {
	padding: 50px;
	border-top: 1px solid black;
}

#bottom-left {
	padding: 50px;
	border-right: 1px solid black;
	border-top: 1px solid black;
}

#bottom-middle {
	padding: 50px;
	border-right: 1px solid black;
	border-top: 1px solid black;
}

#bottom-right {
	padding: 50px;
	border-top: 1px solid black;
}

/**********************
photo-port
**********************/
#photo-title {
	border-bottom: 3px solid #f1f1f1;
	padding-bottom: 20px;
}

/**********************
blog
**********************/
.blog {
	border: 20px solid #bdc3c7;
}

.blog-border-left {
	border-left: 4px solid #bdc3c7;;
	padding-left: 5px;
	margin-top: 30px;
}

.blog-border-bottom {
	border-bottom: 3px solid #bdc3c7;;
	padding-bottom: 15px;
	margin-bottom: -10px;
}

.blog-date {
	color: #3498db;
}

.blog-title {
	margin-top: 30px;
	color: #2c3e50;
	font-weight: 700;
}

.post {
	margin: 20px 30px;
}































