/***********************
Universal styles
************************/
body {
	padding-bottom: 80px;
}
.bg-faded {
	background-color: rgb(119,168,191);
}

.sticky-top .navbar-brand {
	font-size: 1.5rem;
	letter-spacing: .15rem;
}

.fixed-bottom a {
	font-size: .8rem;
}

/*********************
Tables
**********************/
table {
	margin-top: 30px;
}

table img {
	height: 50px;
}

table a {
	color: black;
}

table a:hover {
	text-decoration: none;
	color: grey;
}


































