@import url('https://fonts.googleapis.com/css?family=Barrio');
/***********************
Universal styles
************************/

body {
	padding-bottom: 80px;
	font-size: 16px;
}
.bg-faded {
	background-color: rgb(119,168,191);
}

.sticky-top .navbar-brand {
	font-size: 1.5rem;
	letter-spacing: .15rem;
}

.fixed-bottom a {
	font-size: .8rem;
}

ul {
	list-style: none;
}

.padding {
	padding-top: 50px;
}

/*********************
Tables
**********************/
table {
	margin-top: 30px;
}

table img {
	height: 50px;
}

table a {
	color: black;
}

table a:hover {
	text-decoration: none;
	color: grey;
}

/**********************
Fonts
**********************/
/*font family*/
p {
	font-family: 'Barrio';
	/*line-height*/
	line-height: 1.5;
}

/*font-size*/
span {
	font-size: 1.5em;
	/*font-weight 100-800*/
	font-weight: 800;
	/*text-decoration*/
	text-decoration: underline;
}

/*text-align*/
h5 {
	text-align: /* center, right */
}



































