<h1>Search for a Movie with your Favorite Keyword</h1>

<form action="/results" method="GET">
	<input type="text" name="search" placeholder="Enter Keyword Here">
	<button>Search for Movies</button>
</form>