<h1>Here are Your Results</h1>

<ul>
<% movies.Search.forEach( movie => { %>
	<li><%= movie.Title %></li>
<% }) %>
</ul>

<br>
<form action="/movieSearch" method="POST">
	<input type="text" name="movieInput" placeholder="Enter Keyword Here">
	<BUTTON>Search for Movies</BUTTON>
</form>



	
