<h1>Here are Your Results</h1>
<a href="/">
	<button>Back</button>
</a>

<ul>
	<% movies.Search.forEach( movie => { %>
		<br>
		<li style="list-style: none;">
			<p><strong>Movie Title:</strong> <%= movie.Title %></p>
			<p><strong>Year Released:</strong> <%= movie.Year %></p>
			<img src="<%= movie.Poster %>">
		</li>
	<% }) %>
</ul>
<br>
<a href="/">
	<button>Back</button>
</a>




	
